.hero
{
	background: url(../landing-register/images/fondo.png);

	background-repeat: no-repeat;
	align-items: center;

	
	
	height: 840px;
}


.hero .conte
{

	margin-top: 10%;
}



.hero .conte2
{
	background: #446776;
	opacity: 0.88;
	
	border: 5px solid #5E8899;
}



.hero .conte .txt1
{
	font-size: 50px;
	line-height: 1;
}

.hero .conte .textd
{
	font-size: 150px;
	line-height: 1;
}

.hero .conte .textd span
{
	font-size: 60px;
}


.form-control
{
	width: 0;
}


.iconf:hover
{
	opacity: 0.8;

}




.btnsi
{
	margin-left: 10%;
	margin-top: 2%;
}


@media screen and (max-width: 320px)
{


.btnsi button
{
	margin-right: 10%;
}

}

